body {
    background-color: #2C2F33;
}

a {
    text-decoration: none;
    color: white;
}

.header_text_format {
    font-size: 50px;
}

.text_formats {
    color: white;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.title_div {
    background-color: #23272A;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    width: 100%;
}

.title_subdiv {
    display: table;
    position: relative;
    height: 100%;
    width: 50%;
}

.footer_div {
    background-color: #23272A;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    height: 80px;
    width: 100%;
}

.footer_subdiv {
    display: table;
    position: relative;
    height: 100%;
    width: 50%;
}

.title_name {
    display: table-cell;
    padding-left: 3%;
    text-align: left;
    vertical-align: middle;
    width: fit-content;
    height: 100%;
}

.title_items {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 0.001px;
    height: 100%;
    white-space: nowrap;
    padding-right: 20px;
}

.space_filler {
    width: 100%;
    height: 100%;
}

.dropdown {
    z-index: 999;
    width: fit-content;
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #23272A;
    right: 0;
    min-width: fit-content;
    white-space: normal;
    border: 5px solid #2C2F33;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn {
    color: white;
    border: none;
}

.dropdown-content a {
    text-align: left;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #2C2F33;
    color: white;
}

.sites_img {
    margin-top: 12px;
    height: 55px;
    width: 55px;
}

.content_div {
    display: flexbox;
    padding-top: 80px;
    width: 100%;
    min-height: 769px
}

.copyright {
    display: table-cell;
    padding-left: 3%;
    text-align: left;
    vertical-align: middle;
    width: fit-content;
    height: 100%;
}