<body>
  <section>
    <div class="error_div">
      <div class="error_subdiv">
        <h2 class="text_formats header_text_format">The page you were looking for doesn't exist.</h2>
      </div>
      <div class="error_subdiv">
        <img class="error_img" src="/img/404.png" alt="">
      </div>
      <div class="error_subdiv">
        <a href="{{default_site}}"><button class="error_btn"><b class="text_formats">BACK TO MAIN PAGE</b></button></a>
      </div>
    </div>
  </section>
</body>