<body>
  <section>
    <div class="title_div">
      <div class="title_subdiv">
        <h2 class="title_name">NSBR Network</h2>
      </div>
      <div class="title_subdiv">
        <h2 class="title_items">Items</h2>
      </div>
    </div>
  </section>
</body>