<body>
  <section>
    <div class="title_div">
      <div class="title_subdiv">
        <h2 class="title_name text_formats">NSBR Network</h2>
      </div>
      <div class="title_subdiv">
        <h2 class="title_items text_formats">Items</h2>
      </div>
    </div>
    <div class="footer_div">
      <div class="title_subdiv">
        <footer class="title_name text_formats"> <small>© Copyright 2021, NSBR Network</small> </footer>
      </div>
      <div class="title_subdiv">
        <h2 class="title_items text_formats">Sites</h2>
      </div>
    </div>
  </section>
</body>